# synapse-production.tfvars
# ---------------------------------------------------------------------------------------------------------------------
# Use this file to provide sensitive values for your terraform deployment.
# Rename this to terraform.tfvars in your execution environment.
# ---------------------------------------------------------------------------------------------------------------------

project_id  = "project-3a5ecdcf-cc00-4004-a9d"
region      = "us-central1"
db_password = "SynapseSecret2026"

# Used for the Cloud Run image tags
image_tag   = "latest"

# Root domain (e.g., synapse.com). Even though we use Option A (IP-only) for now, 
# this variable is still required by the variables.tf definitions.
domain      = "synapse.com"
